<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>controller.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartProcess</servlet-name>
        <servlet-class>controller.CartProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryProcess</servlet-name>
        <servlet-class>controller.CategoryProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProcess</servlet-name>
        <servlet-class>controller.UserProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductProcess</servlet-name>
        <servlet-class>controller.ProductProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAuthen</servlet-name>
        <servlet-class>controller.AdminAuthen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartProcess</servlet-name>
        <servlet-class>controller.ChartProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAdvance</servlet-name>
        <servlet-class>controller.RegisterAdvance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderProcess</servlet-name>
        <servlet-class>controller.OrderProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/Authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartProcess</servlet-name>
        <url-pattern>/CartProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryProcess</servlet-name>
        <url-pattern>/CategoryProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProcess</servlet-name>
        <url-pattern>/UserProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductProcess</servlet-name>
        <url-pattern>/ProductProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAuthen</servlet-name>
        <url-pattern>/AdminAuthen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartProcess</servlet-name>
        <url-pattern>/ChartProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAdvance</servlet-name>
        <url-pattern>/RegisterAdvance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderProcess</servlet-name>
        <url-pattern>/OrderProcess</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    
    <servlet>
        <servlet-name>admin-login</servlet-name>
        <jsp-file>admin-login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin-login</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
</web-app>
